
.LoaderPage{
  height: 100dvb;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f2ff;
  display: flex;
  flex-direction: column;
  font-weight: 800;
}


.loader {
  width: 200px;
  height: 60px;

  aspect-ratio: 4;
  --c: #05df72 90%,#1655a100;
  background: 
    radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
    radial-gradient(circle closest-side,var(--c)),
    radial-gradient(circle closest-side at right 6px top 50%,var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
    to{width:25px;aspect-ratio: 1}
}